@font-face {
  font-family: Museo;
  src: url("fonts/Museo500.otf");
}
footer, body nav {
  width: 100%;
  display: grid;
  font-weight: 600;
  font-size: 17px;
  grid-template-columns: 25% 75%;
  grid-template-areas: "a1 a2";
  grid-gap: 0px;
}
footer div, body nav div {
  letter-spacing: 1px;
}
footer div[style="grid-area: a1"], body nav div[style="grid-area: a1"] {
  padding-top: 20px;
  padding-left: 30px;
}

body {
  font-family: "Museo";
  min-width: 200px;
}
body nav div[style="grid-area: a2"] #burger {
  display: none;
}

.topnav {
  display: none;
}

nav ul {
  text-align: right;
  display: flex !important;
  height: 100%;
  margin-top: 0;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: right;
  align-items: center;
}
nav ul a {
  display: inline-block;
  margin-left: 8px;
  text-decoration: none;
  border-radius: 5px;
  color: #303039;
  height: 25px;
  padding: 10px;
  transition: 0.2s;
}
nav ul a:hover {
  background-color: #4800E2;
  color: white;
  transform: scale(1.1);
}

img[src="images/wifi.png"] {
  width: 22px;
  margin-left: -5px;
}

.button {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border: 3px solid #8650fa;
  background-color: #4800E2;
  border-radius: 10px;
  transition: 0.4s;
}
@media screen {
  .button {
    max-width: 70%;
  }
}

.button2 {
  display: block;
  color: #303039;
  background-color: white;
  border: 3px solid #303039;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

header {
  height: auto;
}
header #welcome-articles {
  display: grid;
  grid-template-areas: "a1 a2 a3";
  grid-template-columns: 33% 33% 33%;
}
header #welcome-articles div {
  padding: 20px 10px 20px 10px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #303039;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: 0.2s;
  margin-bottom: 5px;
}
@media screen {
  header #welcome-articles div {
    width: 80%;
  }
}
header #welcome-articles div span {
  display: inline-block;
  margin-bottom: 25px;
  max-height: 95px;
}
header #welcome-articles div:hover {
  transform: scale(1.05);
}
header #welcome-articles div .button2:hover {
  border: 3px solid #4800E2;
  color: #4800E2;
}
header #welcome-articles div[style="grid-area: a3; display: none;"] {
  display: block !important;
}

#logos {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#logos img {
  height: 80px;
  margin: 2px;
  display: block !important;
}

#items {
  margin-top: 0px;
  text-align: center;
}
#items .itcat {
  margin: 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "x1 x2 x3 x4" "x5 x6 x7 x8";
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
}
#items .itcat img {
  height: 200px;
}
#items .itcat div {
  border-radius: 25px;
  border: 3px solid #4800E2;
  padding: 10px;
}
#items .itcat div .button {
  width: 80%;
  color: white;
}
#items .itcat div .button:hover {
  transform: scale(1.05);
}

#principles {
  text-align: center;
  display: grid;
  grid-template-areas: "title title" "a1 a2" "a4 a3";
  grid-template-columns: 50% 49%;
  grid-template-rows: 14% 43% 43%;
  grid-gap: 10px;
}
#principles div[style="grid-area: a1"] {
  margin-right: 0;
}
#principles div[style="grid-area: a2"] {
  margin-left: 0;
}
#principles div[style="grid-area: a3"] {
  margin-left: 0;
}
#principles div[style="grid-area: a4"] {
  margin-right: 0;
}

.grey {
  background-color: #303039;
  color: white;
}

.item-principles {
  font-size: 3vw;
  border-radius: 20px;
  border: 2px solid #303039;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen {
  .item-principles {
    width: 70%;
  }
}
.item-principles img {
  width: 40px;
  height: 40px;
}
@media (min-width: 569px) {
  .item-principles {
    font-size: 16px;
  }
}

#FAQ {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
#FAQ h1, #FAQ h4 {
  margin-left: 20px;
  margin-bottom: 10px;
}
#FAQ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#FAQ body {
  margin: 10px;
}
#FAQ .accordion {
  transform: translateZ(0);
  background: white;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
#FAQ .accordion > .accordion-toggle {
  display: none;
  position: absolute;
  opacity: 0;
}
#FAQ .accordion > label {
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: white;
  color: #303039;
  font-weight: bold;
  cursor: pointer;
}
#FAQ .accordion > label:after {
  content: "";
  position: absolute;
  top: 12px;
  right: 20px;
  width: 12px;
  height: 12px;
  border-left: 2px solid #4800E2;
  border-top: 2px solid #4800E2;
  transform: rotate(-135deg);
  transition: 0.4s transform;
}
#FAQ .accordion > section {
  overflow: hidden;
  height: 0;
  transition: all 0.4s;
}
#FAQ .accordion > .accordion-toggle:checked ~ label:after {
  transform: rotate(45deg);
  top: 16px;
}
#FAQ .accordion > .accordion-toggle:checked ~ section {
  height: 100px;
}
#FAQ .accordion > section p {
  margin: 15px 0;
  padding: 0 20px;
}

#info {
  text-align: center;
}
#info .button {
  width: 40%;
}
#info .button:hover {
  border: 3px solid #4800E2;
  color: #4800E2;
  transform: scale(1.05);
}

#map {
  border: 3px solid #303039;
  width: 70%;
  height: 400px;
  margin-top: 20px;
  border-radius: 20px;
}

#contacts {
  text-align: center;
  display: grid;
  grid-template-rows: 10% 30% 30% 30%;
  grid-template-columns: 40% 60%;
  grid-template-areas: "cont cont" "b1 b2" "b3 b4" "b5 b6";
  grid-gap: 0px;
}
#contacts img {
  height: 40px;
  margin-left: 70%;
  margin-right: auto;
  align-self: center;
  margin-right: 0;
}
#contacts h4 {
  align-self: center;
  margin-right: 10%;
}

#mail {
  text-align: center;
  height: auto;
  padding: 15px;
  border-radius: 20px;
  border: 3px solid #4800E2;
  width: 70%;
  margin: 20px auto 20px auto;
  font-size: 20px;
}
#mail input[type=email] {
  font-family: "Museo";
  display: inline-block;
  height: 25px;
  padding: 8px;
  border: 3px solid #303039;
  border-radius: 5px;
  width: 50%;
}
#mail #button {
  font-family: "Museo";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  background-color: white;
  padding: 8px;
  border: none;
  background-color: #4800E2;
  color: white;
  border-radius: 5px;
  width: 40%;
  height: 45px;
  transition: 0.2s;
}
#mail #button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

footer {
  margin-top: 10px;
}/*# sourceMappingURL=pc.css.map */