$main-color: #4800E2;
$border-color: #303039;
$img-height: 180px;
$first-img-width: 270px;
$border-radius: 20px;

@font-face{
    font-family: Museo;
    src:
        url("fonts/Museo500.otf");
}

@mixin nav{
    display: grid;
        font-weight: 600;
        font-size: 17px;
        grid-template-areas:
        "a1 a2";
        grid-gap: 0px;
        div{
            letter-spacing: 1px;
        }
        div[style="grid-area: a1"]
        {
            padding-top: 20px;
            padding-left: 30px;
        }
}

body{
    margin: 0;
    font-family: "Museo";
    min-width: 200px;
    nav{
        height: 67px;
        border-bottom: 2px solid $border-color;
        div[style="grid-area: a1"]
        {
            cursor: default;
            user-select: none;
        }
        @include nav();
        @media (max-width: 420px)
        {
            div[style="grid-area: a2"]
            {
                #burger{
                    background-color: white;
                    border: 0px;
                    height: 67px;
                    width: 67px;
                    float: right;
                }
                svg{
                    float: right;
                }
            }
            grid-template-columns: 60% 40%;
        }

        @media (min-width: 421px) and (max-width: 1000px)
        {
            div[style="grid-area: a2"]
            {
                #burger{
                    background-color: white;
                    border: 0px;
                    height: 67px;
                    width: 67px;
                    float: right;
                }
                svg{
                    float: right;
                }
            }
            grid-template-columns: 60% 40%;
        }

        @media (min-width: 1001px)
        {
            div[style="grid-area: a2"]
            {
                #burger{
                    display: none;
                }
            } 
            grid-template-columns: 25% 75%;
            ul{
                text-align: right;
                display: flex !important;
                height: 100%;
                margin-top: 0;
                margin-right: 20px;
                flex-wrap: wrap;
                justify-content: right;
                align-items: center;
                a{
                    display: inline-block;
                    margin-left: 8px;
                    text-decoration: none;
                    border-radius: 5px;
                    color: $border-color;
                    height: 25px;
                    padding: 10px;
                    transition: 0.2s;
                    &:hover{
                        background-color: $main-color;
                        color: white;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

img[src="images/wifi.png"]{
    width: 22px;
    margin-left: -5px;
}

.topnav {
    overflow: hidden;
    background-color: $main-color;
    position: relative;
    #myLinks {
        display: none;
      }
    }
  
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    &:hover{
        background-color: #ddd;
        color: black;
        }
}
  
.active {
    background-color: #4CAF50;
    color: white;
}

@media(min-width: 1001px){
    #burger-menu{
        display: none;
    }
}

#catalog{
    @media (max-width: 420px)
    {
        #sort{
            height: auto;
        }

        .items{
            .single-item:nth-child(odd)
            {
                margin: 15px 0px 5px 6vw;
            }

            .single-item:nth-child(even)
            {
                margin: 15px 6vw 5px 0px;
            }

            @media (max-width: 290px)
            {
                .single-item:nth-child(odd)
                {
                    margin: 15px 0px 5px 10px;
                }
    
                .single-item:nth-child(even)
                {
                    margin: 15px 10px 5px 0px;
                }
            }

            padding: 0px;
            font-size: 25px;
            display: flex;
            flex-wrap: wrap;
            grid-gap: 10px;
            justify-content: space-between;
            img{
                width: 30vw;
                display: inline-block;
            }
            .single-item{
                margin: 20px;
                padding: 10px;
                border-radius: $border-radius;
                box-shadow: 0px 0px 44px -19px rgba(44, 44, 47 ,0.75);
                transition: 0.3s;
                width: 35%;
                text-align: center;
                height: auto;
                font-size: 6vw;
            }
            .button{
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                border: 3px solid #8650fa;
                background-color: $main-color;
                border-radius: 10px;
                @media screen {
                    width: 60%;
                }
                font-size: 5vw;
                transition: 0.4s;
                color: white;
                height: 6vw;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    @media (min-width: 421px) and (max-width: 1000px)
    {
        #sort{
            height: auto;
        }

        .items{
            padding: 0px;
            font-size: 25px;
            span{
                margin-top: auto;
                margin-bottom: auto;
                display: block;
            }
            .product-info{
                text-align: center;
                display: inline-block;
                margin-left: auto;
                margin-right: auto;
                line-height: 5vw;
                @media (max-width: 700px)
                {
                    transform: scale(0.8);
                    line-height: 7vw;
                }
                width: 80%;
            }
            img{
                width: 30vw;
                display: inline-block;
                margin-left: 15px;
            }
            .single-item{
                display: flex;
                justify-content: center;
                padding: 10px;
                margin: 35px;
                border-radius: $border-radius;
                box-shadow: 0px 0px 44px -19px rgba(44, 44, 47 ,0.75);
                transition: 0.3s;
                align-items: center;
            }
            .button{
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                border: 3px solid #8650fa;
                background-color: $main-color;
                border-radius: 10px;
                @media screen {
                    width: 60%;
                }
                transition: 0.4s;
                color: white;
                height: 35px;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
            }
        }
    }

    @media (min-width: 1001px)
    {
        display: grid;
        grid-template-areas:
        "a1 a2";
        grid-template-columns: 20% 80%;
        #sort{
            border-right: 2px solid $border-color;
            height: auto;
            padding: 10px;
        }

        #sort{
            padding-top: 20px;
            text-align: center;
            select{
                border: 2px solid $border-color;   
                width: 50%;   
            }
        }

        .items{
            padding: 0px;
            font-size: 25px;
            span{
                margin-top: auto;
                margin-bottom: auto;
            }
            div{
                display: flex;
                justify-content: space-between;
            }
            img{
                width: 200px;
                max-width: 15%;
            }
            .single-item{
                padding: 5px;
                margin: 35px;
                border-radius: $border-radius;
                box-shadow: 0px 0px 44px -19px rgba(44, 44, 47 ,0.75);
                transition: 0.3s;
                &:hover{
                    transform: scale(1.02);
                }
            }
            .button{
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                border: 3px solid #8650fa;
                background-color: $main-color;
                border-radius: 10px;
                @media screen {
                    max-width: 70%;
                }
                transition: 0.4s;
                color: white;
                height: 35px;
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 10px;
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}

.nice-select{
    @media(max-width: 1500px) and (min-width: 1301px)
    {
        font-size: 15px !important;
    }

    @media(max-width: 1300px) and (min-width: 1001px)
    {
        font-size: 12px !important;
    }

    @media(max-width: 1000px) and (min-width: 421px)
    {
        font-size: 19px !important;
        margin: 20px 20px 0px 20px;
    }

    @media(max-width: 420px)
    {
        font-size: 19px !important;
        margin: 20px 20px 0px 20px;
    }
}

footer{
    @include nav;
    border-top: 2px solid $border-color;
}