$main-color: #4800E2;
$border-color: #303039;

body{
    margin: 0;
}

nav{
    height: 67px;
    border-bottom: 2px solid $border-color;
    display: grid;
    div[style="grid-area: a1"]
    {
        cursor: default;
        user-select: none;
    }
}

header{
    height: 500px;
}

#welcome-text
{
    text-align: center;
}

footer{
    height: 67px;
    border-top: 2px solid $border-color;
    margin: auto;
    clear: both;
}
